@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

* {
  text-align: center;
  box-sizing: border-box;
}

body {
  background-color: #E8E8E8;
  font-family: Arial, sans-serif;
  color: #495464;
  line-height: 22px;
  transition: all 0.3s ease-out 0s;
}

body:hover {
  background-color: #d2d3c7
}

h1 {
  color:#787a80;
  font-family: 'Syne Tactile', cursive;
  line-height: 38px;
  font-size: 32px;
}

h2 {
  color:#a4a6ac;
  font-family: 'Syne Tactile', cursive;
  line-height: 36px;
  font-size: 34px;
}

h3 {
  color:#BBBFCA;
  font-family: Arial, sans-serif;
  line-height: 28px;
  font-size: 24px;
}

p {
  font-family: 'Henny Penny', cursive;
  letter-spacing: 1px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-out 0s;
}

ul {
  list-style: none;
  display: inline-block;
}

li {
  display: inline;
  padding: 0px 50px;
}
i {
  color: black;
  font-size: 30px;
}

i:hover {
  color: rgb(214, 132, 132);
}

button {
  font-family: 'Henny Penny', cursive;
  letter-spacing: 2px;
  color: rgb(58, 53, 53);
  font-weight: 600;
  margin: 20px;
  padding: 18px 25px;
  border-radius: 15px;
  transition: all 0.3s ease-out 0s;
}

button:hover {
  background-color: #a0a2a8;
  font-size: 18px;
  color: #cffc06;
  font-weight: bolder;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 80px;
  right: 30%;
  left: 30%;
}

.content {
  width: 600px;
  margin: auto;
}

.card {
  position: relative;
  height: 400px;
  background: white;
  border: 2px solid #495464c4;
  border-radius: 3px;
  transition: all 0.3s ease-out 0s;
}

.card:hover {
  background: #0e111b;
}


#my_foto {
  margin: 20px;
  border-radius: 50%;
  transition: all 0s ease-out 0s;
  border: 4px solid #fafafa93;
}

#my_foto:hover {
	border: 4px solid #0d8636cc;
	box-shadow: 0 0 10px #2dcf83;
}

@media (max-width: 960px) {
  .content {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .content {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .content {
    width: 300px;
  }
}